* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #f3f4fd;
    box-sizing: border-box;
}

body {
    background-color: #23414d;
}

/* .contentWrapper {
    display: block;
    margin: 0 auto;
} */

#content {
    margin: 10px 10px;
    border: 3px solid #192f38;
    border-radius: 5px;
}

#innerContent {
    padding: 10px 10px;
}

a {
    color: #2093a5;
}

a:visited {
    color: #b159d4;
}

#portfolioHeader {
    background-color: #2a9d8f;
    border-left: 10px solid #e76f51;
    padding: 20px 10px;
    border-radius: 3px;
    margin: 0px 0px;
}

#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #152830;
}

.navLi {
    float: left;
}

.navLi a {
    display: block;
    color: white;
    background-color: #152830;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  

.navLi a:hover {
    background-color: #111;
}


h2 {
    margin: 8px 0px;
    font-weight: 500;
    font-style: italic;
}

p {
    font-weight: 300;
}

ul {
    padding-left: 16px;
}

hr {
    margin: 12px 0px;
}

.cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;   
}

.card {
    background-color: #182d35;
    width: 100%;
    padding: 10px;
    margin: 4px;
    border-radius: 4px;
    box-shadow: 1px 1px 3px #101d22;
}

@media only screen and (min-width: 401px) and (max-width: 960px) {
    #content {
        margin: 10px 20px;
    }
}

@media only screen and (min-width: 961px) {
    #content {
        margin: 10px auto;
        max-width: 1080px;
    }
    .card {
        width: 48%;
    }
}
